@{
    Layout = null;
}
<!doctype html>
<html>
<head>
    <title>Meerkat ASP.NET MVC</title>
    <meta charset="utf-8"/>
</head>
<body style="background-color:#ccc">
    <h2 style="font-size:10em; color:orange">
        @ViewBag.Message
    </h2>
</body>
</html>
